@charset "UTF-8";
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Black.woff2") format("woff2"), url("../fonts/Heebo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Bold.woff2") format("woff2"), url("../fonts/Heebo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-ExtraBold.woff2") format("woff2"), url("../fonts/Heebo-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Medium.woff2") format("woff2"), url("../fonts/Heebo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Regular.woff2") format("woff2"), url("../fonts/Heebo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #21243D;
  line-height: 1;
  font-family: "Heebo";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Heebo";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 53.5625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.page {
  padding: 79px 0 0 0;
  flex: 1 1 auto;
}
@media (max-width: 47.99875em) {
  .page {
    padding-top: 33px;
  }
}

.title-page {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 56px;
}
@media (max-width: 47.99875em) {
  .title-page {
    font-size: 30px;
  }
}

.title {
  font-weight: 700;
}

.text {
  font-size: 1rem;
  line-height: 1.5;
}

.silver-text {
  color: #8695A4;
}

@media (min-width: 47.99875em) {
  .title-section {
    font-size: 22px;
  }
}
@media (max-width: 47.99875em) {
  .title-section {
    font-size: 18px;
    text-align: center;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 64.875rem;
  height: 86px;
}
@media (max-width: 47.99875em) {
  .header__container {
    height: 50px;
  }
}
.menu {
  display: flex;
  justify-content: flex-end;
}
.menu__body {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: absolute;
    width: 100%;
    top: -100%;
    left: 0;
    transition: all 0.3s ease;
  }
  .menu__body .menu__list {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .menu-open .menu__body {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.877);
    top: 0;
    padding-top: 5.0625rem;
    z-index: 2;
  }
  .menu-open .menu__body .menu__item:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}
.menu__list {
  padding: 0.3125rem;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.menu__item {
  transition: color 0.2s ease;
}
@media (min-width: 47.99875em) {
  .menu__item:not(:last-child) {
    margin-right: 2.1875rem;
  }
}
@media (any-hover: hover) {
  .menu__item:hover {
    color: #FF6464;
  }
}
.menu__link {
  line-height: 1.3;
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.875rem;
  }
}

.footer {
  padding: 45px 0 47px 0;
}
.footer__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 14px;
}
.footer__item {
  padding: 17.5px;
}
.footer__link {
  display: inline-block;
}
.footer__rights {
  text-align: center;
  font-size: 14px;
}

.resume {
  padding-top: 45px;
  padding-bottom: 71px;
}
@media (max-width: 61.99875em) {
  .resume {
    padding-top: 0;
    padding-bottom: 59px;
  }
}
.resume__container {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 47.99875em) {
  .resume__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.resume__creative {
  flex: 1 1 auto;
  padding-top: 18px;
}
@media (max-width: 47.99875em) {
  .resume__creative {
    padding-top: 43px;
  }
}
@media (min-width: 47.99875em) {
  .resume__creative {
    padding-right: 7.1875rem;
  }
}
@media (min-width: 825.98px) {
  .resume__creative {
    padding-right: 100px;
  }
}
.resume__creative *:last-child {
  margin-bottom: 0;
}
.resume__photo {
  flex: 0 0 15.1875rem;
  height: 15.1875rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -5px 13px 0 0 #EDF7FF;
}
.resume__photo img {
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .resume__photo {
    flex: 0 0 180px;
    height: 180px;
    align-self: center;
  }
}

.creative {
  /*срабатывает при клике на элемент*/
  /*удерживает кнопку мыши на элементе*/
}
@media (max-width: 47.99875em) {
  .creative {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.creative__title {
  font-size: 2.75rem;
  line-height: 1.39;
  margin-bottom: 1.375rem;
}
@media (max-width: 47.99875em) {
  .creative__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 1.25rem;
  }
}
.creative__text {
  margin-bottom: 2.0625rem;
}
@media (max-width: 47.99875em) {
  .creative__text {
    margin-bottom: 1.4375rem;
    text-align: center;
  }
}
.creative__button {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #FF6464;
  color: #FFFFFF;
  padding: 0.875rem 1.25rem 0.75rem 1.25rem;
  border-radius: 0.125rem;
  transition: background 0.2s ease;
}
.creative__button:hover {
  background-color: #f07777;
}
.creative__button:active {
  background-color: #db5252;
}

.recent-posts {
  background-color: #EDF7FA;
  padding-bottom: 32px;
  /*срабатывает при клике пили переходе на tab */
  /*удерживает кнопку мыши на элементе*/
}
.recent-posts__nav {
  display: flex;
  padding-top: 27px;
  padding-bottom: 20px;
}
@media (max-width: 47.99875em) {
  .recent-posts__nav {
    text-align: center;
  }
}
.recent-posts__title {
  flex: 1 1 auto;
  padding-right: 20px;
}
.recent-posts__all {
  flex: 0 0 auto;
  transition: color 0.2s ease;
  color: #00A8CC;
  line-height: 1.5;
}
@media (max-width: 47.99875em) {
  .recent-posts__all {
    display: none;
  }
}
.recent-posts__all:hover {
  color: #0ec4ec;
}
.recent-posts__content .posts__items {
  display: flex;
  margin: 0 -10px;
  height: 100%;
}
@media (max-width: 47.99875em) {
  .recent-posts__content .posts__items {
    flex-direction: column;
  }
}
.recent-posts__content .posts__item {
  flex: 0 1 50%;
  padding: 0 10px;
}
@media (max-width: 47.99875em) {
  .recent-posts__content .posts__item:not(:last-child) {
    margin-bottom: 17px;
  }
}
.recent-posts__content .posts__body {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 24px 21px 26px 21px;
  height: 100%;
}
@media (max-width: 61.99875em) {
  .recent-posts__content .posts__body {
    padding: 18px;
  }
}
@media (max-width: 47.99875em) {
  .recent-posts__content .posts__body {
    padding: 18px 19px 22px 18px;
  }
}
.recent-posts__content .posts__title {
  display: inline-block;
  font-size: 26px;
  line-height: 1.4;
  margin-bottom: 30px;
}
@media (min-width: 47.99875em) {
  .recent-posts__content .posts__title {
    transition: color 0.2s ease;
  }
}
@media (min-width: 47.99875em) and (any-hover: hover) {
  .recent-posts__content .posts__title:hover {
    color: #db5252;
  }
}
@media (max-width: 61.99875em) {
  .recent-posts__content .posts__title {
    font-size: 22px;
    margin-bottom: 18;
  }
}
.recent-posts__content .posts__info {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.3;
}
@media (max-width: 61.99875em) {
  .recent-posts__content .posts__info {
    margin-bottom: 14px;
  }
}
.recent-posts__content .posts__text {
  line-height: 1.5;
}

.featured-works {
  padding-top: 36px;
}
.featured-works__main-title {
  font-size: 22px;
  margin-bottom: 40px;
}
.featured-works__body {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 30px;
  min-width: 0;
  min-height: 0;
  border-bottom: 1px solid #ebebeb;
}
@media (max-width: 47.99875em) {
  .featured-works__body {
    flex-direction: column;
  }
}
.featured-works__picture {
  max-height: 180px;
  border-radius: 6px;
  overflow: hidden;
}
@media (min-width: 47.99875em) {
  .featured-works__picture {
    flex: 0 0 246px;
  }
}
@media (max-width: 47.99875em) {
  .featured-works__picture {
    margin-bottom: 20px;
  }
}
.featured-works__content {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
@media (min-width: 47.99875em) {
  .featured-works__content {
    padding-left: 18px;
  }
}
.featured-works__title {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 24px;
  transition: color 0.2s ease;
  /*срабатывает при клике пили переходе на tab */
  /*удерживает кнопку мыши на элементе*/
}
.featured-works__title:focus {
  outline: 2px solid #000;
  outline-offset: 3px;
}
.featured-works__title:hover {
  color: #db5252;
}
.featured-works__info {
  display: flex;
  margin-bottom: 22px;
}
.featured-works__date {
  display: inline-flex;
  height: 25px;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  background-color: #142850;
  font-weight: 900;
  color: #fff;
  padding: 3px 12px;
}
.featured-works__label {
  font-size: 20px;
  color: #8695A4;
  margin-left: 26px;
}
@media (max-width: 47.99875em) {
  .blog__title {
    margin-bottom: 37px;
  }
}
.posts__body {
  padding-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 32px;
}
@media (max-width: 47.99875em) {
  .posts__body {
    padding-bottom: 24px;
    margin-bottom: 18px;
  }
}
.posts__title {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 16px;
  transition: color 0.2s ease;
  /*удерживает кнопку мыши на элементе*/
}
.posts__title:hover {
  color: #e64a3e;
}
@media (max-width: 47.99875em) {
  .posts__title {
    font-weight: 500;
    font-size: 26px;
  }
}
.posts__info {
  font-size: 20px;
  margin-bottom: 17px;
}
@media (max-width: 47.99875em) {
  .posts__info {
    font-size: 16px;
  }
}
.posts__info span:not(:last-child) {
  padding-right: 26px;
  border-right: 1px solid #000;
  margin-right: 20px;
}
@media (max-width: 47.99875em) {
  .featured-works__page-title {
    margin-bottom: 30px;
  }
}

.featured-works__image-ibg {
  padding: 20% 0 0 0;
}
@media (max-width: 47.99875em) {
  .featured-works__image-ibg {
    padding: 50% 0 0 0;
    min-height: 180px;
  }
}

.featured-work__header:not(:last-child) {
  margin-bottom: 46px;
}
@media (max-width: 47.99875em) {
  .featured-work__header:not(:last-child) {
    margin-bottom: 23px;
  }
}
.featured-work__page-title {
  font-weight: 700;
  font-size: 34px;
  color: #21243D;
  max-width: 510px;
}
.featured-work__page-title:not(:last-child) {
  margin-bottom: 35px;
}
@media (max-width: 47.99875em) {
  .featured-work__page-title:not(:last-child) {
    margin-bottom: 23px;
  }
}
.featured-work__tags {
  display: flex;
  gap: 17px;
  align-items: center;
}
.featured-work__tags:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 47.99875em) {
  .featured-work__tags:not(:last-child) {
    margin-bottom: 23px;
  }
}
.featured-work__date {
  font-weight: 900;
  font-size: 18px;
  line-height: 1;
  padding: 5px 15px;
  border-radius: 25px;
  color: #fff;
  background-color: #FF7C7C;
  align-self: flex-start;
}
.featured-work__hash {
  font-weight: 400;
  font-size: 20px;
  color: #21243D;
}
@media (max-width: 47.99875em) {
  .featured-work__hash:not(:last-child) {
    font-size: 18px;
  }
}
.featured-work__text {
  color: #000;
}
.featured-work__text:not(:last-child) {
  margin-bottom: 28px;
}
@media (max-width: 47.99875em) {
  .featured-work__text:not(:last-child) {
    margin-bottom: 23px;
    font-size: 16px;
  }
}
.featured-work__body {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.featured-work__body img {
  width: 100%;
}
.featured-work__body:not(:last-child) {
  margin-bottom: 27px;
}
@media (max-width: 47.99875em) {
  .featured-work__body:not(:last-child) {
    margin-bottom: 23px;
  }
}
.featured-work__image:not(:last-child) {
  margin-bottom: 54px;
}
@media (max-width: 47.99875em) {
  .featured-work__image:not(:last-child) {
    margin-bottom: 23px;
  }
}
.featured-work__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 2;
}
@media (max-width: 47.99875em) {
  .featured-work__title:not(:last-child) {
    font-size: 26px;
  }
}
.featured-work__sub-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 2.5;
}
@media (max-width: 47.99875em) {
  .featured-work__sub-title:not(:last-child) {
    font-size: 20px;
  }
}