// Общие стили писать тут
// основной блок
.page {
    padding: 79px 0 0 0;
    flex: 1 1 auto;

    @media (max-width:$mobile) {
        padding-top: 33px;
    }
}

.title-page {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 56px;

    @media (max-width:$mobile) {
        font-size: 30px;
    }
}

.title {
    font-weight: 700;
}

.text {
    font-size: rem(16);
    line-height: 1.5;
}

.silver-text {
    color: #8695A4;
}

.title-section {
    @media (min-width:$mobile) {
        font-size: 22px;
    }

    @media (max-width:$mobile) {
        font-size: 18px;
        text-align: center;
    }
}